.add-button {
  background-color: #3b82f6;
  width: 180px;
  color: white;
  border: none;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.add-button:hover {
  transform: translateY(-5px);
  background-color: #4e91fd;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.5);
}

table thead tr th {
  background-color: #ECF4E8;
}

table tbody tr td a button {
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  width: 100px;
  color: #696969;
  transition: all 0.5s ease;
}

table.table-hover tbody tr:hover>*{
  cursor: pointer;
}

tbody tr td .btnedit{
  color: #60A5FA !important;
  margin-right: 4px;
}

tbody tr td .btnhapus{
  color: #F87171 !important;
  margin-left: 4px;
}

tbody tr td .btninvoice{
  color: #666666 !important;
}

tbody tr td .btnedit:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px #60A5FA;
}

tbody tr td .btnhapus:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px #F87171;
}

tbody tr td .btninvoice:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px #666666;
}